/* estrutura geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(180deg, rgb(255, 255, 255), rgb(215, 215, 215));
    min-height: 100vh;
    transition: 0.7s;
}

body.dark{
    background-image: linear-gradient(180deg, rgb(49, 49, 49), rgb(88, 88, 88));
}

body, button, a, .atividade{
    cursor: none;
}

/* Menu do portfólio */
.barra-menu {
    display: flex;
    justify-items: center;
    align-items: center;
    white-space: nowrap;
}

.dropdown-menu {
    cursor: none;
    position: absolute;
    margin-left: 45px;
    overflow: hidden;
    background-color: rgb(128, 128, 128);
    border-radius: 5px;
    display: none;
}


.dropdown-menu a{
    padding: 30px;
    display: block;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    white-space: nowrap;
    transition: 0.3s;
}

.dropdown-menu a:hover{
    color: rgb(218, 218, 218);
}

.Linguagens:focus-within .dropdown-menu{
    text-align: center;
    display: block;
}

.Matemática:focus-within .dropdown-menu {
    display: block;
}

.Humanas:focus-within .dropdown-menu{
    display: block;
}

.Natureza:focus-within .dropdown-menu{
    display: block;
}

.Senai:focus-within .dropdown-menu{
    display: block;
}

.menu {
    z-index: 1000;
    position: fixed;
    width: 100vw;
    height: 55px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(128, 128, 128);
    transition: 0.7s;
}

body.dark .menu{
    background-color: rgb(49, 49, 49);
}

body.dark .dropdown-menu{
    background-color: rgb(49, 49, 49);
}

.portfólio-texto {
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}

.home{
    display: flex;
    position: absolute;
    left: 10px;
    align-items: center;
    filter: invert(90%);
    align-items: center;
    transition: 0.3s;
    overflow: hidden;
}

.home:hover {
    filter: invert(75%);
}

.homeIMG {
    width: 40px;
}

.trilho {
    position: absolute;
    left: 80px;
    background-color: rgb(218, 218, 218);
    height: 25px;
    width: 50px;
    border-radius: 50px;
    transition: 0.7s;
}

.indicador {
    left: 0;
    background-color: rgba(77, 77, 77);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    transform: scale(.9);
    transition: .7s;
}

.trilho.dark {
    background-color: rgb(65, 65, 65);
}

.trilho.dark .indicador {
    left: 25px;
    background-color: rgb(150, 150, 150);
}

.matérias {
    color: rgb(238, 238, 238);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    margin-left: 5dvw;
    text-decoration: none;
    overflow: hidden;
    transition: 0.3s;
}

.matérias:hover{
    color: rgb(206, 206, 206);
}

.matérias:focus-within{
    font-size: 19px;
}

.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: rgba(77, 77, 77, 0.7);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-0%, -0%);
  transition: transform 0.1s;
  z-index: 10000;
}

.cursor.hover {
  background-color: rgba(77, 77, 77, 0.5);
  transform: scale(2.0);
}

body.dark .cursor{
    filter: invert(75%);
}

/* Seção de atividades */

section {
    padding: 30px;
    height: auto;
}

.mensagem {
    padding: 30px;
    display: flex;
    justify-content: center;
}

.msg {
    max-width: min-content;
    font-family: Anton ;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    color: rgb(90, 90, 90);
    overflow: hidden;
    transition: 0.7s;

    white-space: nowrap;
    border-right: 8px solid rgb(207, 207, 207);
    animation: marcador .5s step-end infinite, escrever 5s steps(22, end)
}

body.dark .msg {
    color: rgb(212, 212, 212)
}

.dino {
    display: flex;
    justify-content: center;
    animation: entrada 2s;
}

body.dark .dino{
    filter: invert(100%);
}

/* Atividades */
.atividade{
    justify-content: center;
    align-items: center;
    display: flex;
    animation: entrada 3s;
}

.atv-titulo {
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    overflow: hidden;
    justify-items: center;
    display: block;
    padding: 5px;
    animation: entrada 3s, descer 3s;
    bottom: 0px;
    left: 0px;
}
.título {
    color: rgb(90, 90, 90);
    transition: 0.7s;
}

body.dark .título{
    color: rgb(212, 212, 212)
}

.texto {
    width: 50%;
    margin-inline: 2%;
    text-align: center;
    font-family: monospace;
    font-size: 15px;
    color: rgb(49, 49, 49);
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(184, 184, 184);
    transition: 0.7s;
}

body.dark .texto{
    background-color: rgb(223, 223, 223);
    box-shadow: 10px 10px 10px rgb(68, 68, 68)
}

.imagemH {
    margin: 5px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(189, 189, 189);
    width: 50%;
}

body.dark .imagemH {
    box-shadow: 10px 10px 10px rgb(68, 68, 68)
}

.imagemV {
    margin: 5px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(189, 189, 189);
    width: 25%;
}

body.dark .imagemV {
    box-shadow: 10px 10px 10px rgb(68, 68, 68)
}

.linkH {
    width: 50%;
    padding-top: 26.2500%
}

.linkV {
    width: 30%;
    padding-top: 39.4118%
}

/* Informações sobre o portfólio */


.eu {
    position: absolute;
    left: 60%;
    top: 10%;
    animation: entrada 3s;
}

.informações {
    position: absolute;
    font-family: monospace;
    font-size: 15px;
    color: rgb(49, 49, 49);
    background-color: rgb(243, 243, 243);
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgb(184, 184, 184);
}


.titulos-section{
    font-family: Anton;
    font-weight: 300;
    color: rgb(90, 90, 90);
    bottom: 0px;
    animation: entrada 3s, descer 3s;
    transition: 0.7s;
}

body.dark .titulos-section {
    color: rgb(212, 212, 212)
}

.anos-anteriores {
    color: rgb(238, 238, 238);
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    background-color: rgb(104, 104, 104);
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    margin: 5px;
    transition: 0.3s;
    animation: entrada 3s;
}

.anos-anteriores:hover{
    background-color: rgb(141, 141, 141);
}

/* animações do site */
@keyframes entrada {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

@keyframes marcador {
    50% {
        border-right-color: transparent;
    }
}

@keyframes escrever {
    0% {
        width: 0%;
    }
    70% {
        width: 100vh;
    }
    100% {
        width: 100vh;
    }
}

@keyframes direita {
    0% {
        right: 20px;
    }
    100% {
        right: 0px;
    }
}

@keyframes esquerda {
    0% {
        left: 20px;
    }
    100% {
        left: 0px;
    }
}

@keyframes descer {
    0% {
        bottom: 15px;
    }
    100% {
        bottom: 0;
    }
}

@media screen and (max-width: 768px){
    .trilho {
        left: 5px;
        top: 60px;
    }
    .atividade{
        width: 100%;
        flex-direction: column;
    }
    .imagemH {
        width: 100%;
    }
    .imagemV {
        width: 75%;
    }
    .texto {
        width: 100%;
    }
    .matérias {
        font-size: 9px;
    }
    .matérias:focus-within {
        font-size: 11px;
    }
    .dropdown-menu {
        font-size: 9px;
    }
    .home {
        left: 1px;
    }
    .homeIMG {
        width: 30px;
    }
    .título {
        font-size: 20px;
    }
    .titulos-section{
        font-size: 20px;
    }
    .msg {
        font-size: 20px;
    }
    .dropdown-menu {
        margin-left: 0;
    }
    @keyframes escrever {
        0% {
            width: 0;
        }
        70% {
            width: 100vh;
        }
        100% {
            width: 100vh;
        }
    }

}
